{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in page</title>
</head>
<body>
    <form action="/postsign/" method="POST">
        {% csrf_token %}
        <label>Email :  </label>  
            <input type="email"name='email'>
        <label>Password : </label> 
            <input type="password" name="pass">
        <input type="submit" value="SignIn">
    </form>
</body>
</html> 



