 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome TodoList</title>

    <style>
        .button{
            position: absolute;
            right: 10px;
            top:10px;
        }
        .addtask{
            border:1px solid gray;
            height: 100px;
            display: flex;
            align-items: center;
        }
    </style>
    
</head>
<body>
 
    {% csrf_token %}
   <h1> Welcome {{e}} to your TodoList </h1>
    <div class="button">
    <button type="button" onclick="location.href='{% url 'log' %}'" >Logout</button>
    </div>
    <br><br>

    <div class="addtask">
    <form action="/postTask/" method="POST">
        {% csrf_token %}
        <label for="task">Nouvelle tache :</label> 
        <input type="text" name="tasks" value=""/>
        <input type="submit" value="addTask"/>
    </form>
</div>

    <div>
        {% if t %}
        <table>
            {% for key, tasks in t.items %}
                <tr>
                    <td class="{{key}}">{{tasks}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>


</body>
</html> 

